::-webkit-scrollbar {
    width: 2px;
    background:#808080;;
    margin-right: 1px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}


::-webkit-scrollbar-thumb {
    background:#808080
}

::-webkit-scrollbar-track {
  background: #E5E5E5;
}

@font-face {
  font-family: SF;
  src: url('font/SF.ttf') format("opentype");
}


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oypcc7');
  src:  url('fonts/icomoon.eot?oypcc7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oypcc7') format('truetype'),
    url('fonts/icomoon.woff?oypcc7') format('woff'),
    url('fonts/icomoon.svg?oypcc7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rubbish-bin-delete-button:before {
  content: "\e90c";
  color: #808080;
}
.icon-history-clock-button:before {
  content: "\e90d";
  color: #808080;
}
.icon-plus-symbol:before {
  content: "\e90b";
  color: #c4c4c4;
}
.icon-info-circle:before {
  content: "\e906";
  color: #fff;
}
.icon-Logout:before {
  content: "\e907";
  color: #fff;
}
.icon-Group-1:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e902";
}
.icon-notification .path1:before {
  content: "\e904";
  color: rgb(201, 0, 0);
}
.icon-notification .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-move:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e908";
}
.icon-toggle-left:before {
  content: "\e909";
}
.icon-toggle-right:before {
  content: "\e90a";
}
.icon-pencil:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e90f";
}
