
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  /* background: url(https://res.cloudinary.com/ros4eva/image/upload/v1574762212/back_opckeg.png) left no-repeat, #26A69A;
  background-size: 1000px; */
  overflow-y: visible;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-filter: blur(0.000000px)!important;
  font-family: SF;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.conts {
  background: url(https://res.cloudinary.com/ros4eva/image/upload/v1574762212/back_opckeg.png) left no-repeat, #26A69A;
  background-size: 1000px;
}

.circle-icon {
  color: #4DFFD4;
  font-size: 14.5px;
  margin-right: 9px;
}


.navbar-style {
  padding: 1em;
}

.btn-signup {
  background: #4DFFD4;
  padding: 6px 50px;
  font-weight: bolder;
}

.navc {
  border-bottom: none;
}

@media (min-width: 1200px) {
  .navc .container {
      max-width: 100vw;
  }

  .navc .navbar-brand {
      margin-left: 2em;
  }
}

.homd ul li i::first-letter {
/*font-size: 30px;*/
vertical-align: bottom;
line-height: 2em;
}

.col01 {
  margin-left: 6em;

}

@media (max-width: 699px) {
  .homd ul li, .lst {
      list-style: none;
      color: white;
      font-size: 20px;
      line-height: 37px;
      
      font-weight: 600;
      
      
  }

  .homd ul li {
      margin-left: 10px;
  }

  .homd .lst {
      font-size: 25px;
  }

  .col01 {
      margin-left: 6em;
  }

  .homd {
      margin-left: 1.6em;
      margin-top: 35px;
  }

}

@media (min-width: 670px) {

  .homd ul li, .lst {
      list-style: none;
      color: white;
      font-size: 27px;
      line-height: 37px;
      
      font-weight: 600;
      
  }

  .homd ul li {
      margin-left: 10px;
  }

  .homd .lst {
      font-size: 32px;
  }

  .col01 {
      margin-left: 6em;
  }

  .homd {
      margin-left: 3em;
  }

}

@media (min-width: 700px) {

  .homd ul li, .lst {
      list-style: none;
      color: white;
      font-size: 29px;
      line-height: 37px;
      
      font-weight: 600;
      
  }

  .homd ul li {
      margin-left: 10px;
  }

  .homd .lst {
      font-size: 34px;
  }

  .col01 {
      margin-left: 6em;
  }

  .homd {
      margin-left: 3em;
  }

}


@media (min-width: 800px) {

  .homd ul li, .lst {
      list-style: none;
      color: white;
      font-size: 30px;
      line-height: 37px;
      
      font-weight: 600;
      
  }

  .homd ul li {
      margin-left: 10px;
  }

  .homd .lst {
      font-size: 35px;
  }

  .col01 {
      margin-left: 6em;
  }

  .homd {
      margin-left: 1em;
  }

}


@media (min-width: 1010px) {

  .homd ul li, .lst {
      list-style: none;
      color: white;
      font-size: 33px;
      line-height: 40px;
      
      font-weight: 600;
      /*margin-left: -1em;*/
      
  }

  .homd .lst {
      font-size: 37px;
  }

}

@media (min-width: 1200px) {
  .homd ul li, .lst {
      list-style: none;
      color: white;
      font-size: 42px;
      line-height: 45px;
      
      font-weight: 600;
      /*margin-left: -1em;*/
      
  }

  .homd .lst {
      font-size: 45px;
  }

  .homd .lst pr{
      font-size: 46px;
  }

  .footw .float-left {
      margin-left: 6em;
  }
}





.homd {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 3em;
}

/*.homd ul li::before {
content: "\2022";
color:#4DFFD4;
font-weight: bold!important;
display: inline-block; 
width: 0.7em;
font-size: 50px;
margin-left: -1em;

}
*/

.homd .homdbtn {
  background: #4DFFD4; 
  padding: 4px 40px; 
  font-weight: bolder;
  margin-top: 1.8em;
  padding: 6px 50px;
}

.homd .dembtn {
  background: none;
  color: white;
  font-weight: normal;
  margin-top: 1.8em;
  margin-left: 1em;
  outline: none;
}

.imgsg {
  display: none;
}

.imgse {
  margin-left: 1em;
  right: 0;
}

.footd {
  margin-top: 1em;
}

.footw {
  padding: 10px;
  bottom: 0%;
  background: white;
  border: none ;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  width: 100%;
  left: 0;
  box-shadow:
      inset 0px 5px 5px rgba(38, 166, 154, 0.5);   
}

.footw .copy {
  margin-bottom: 10px;
}

.footw ul#menuli li {
  display: inline;
  margin: 10px;

}

.footw #menuli a {
  text-decoration-style: none;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 10px;
}


@media (min-width: 542px){
  .homd {
      height: 300px;
      position: absolute;
      left: 37%;
      top: 50%;
      transform: translate(-50%, -50%);

  }

  .homd ul li {
      margin-left: 60px;
  }

  .conts {
      padding-bottom: 300px;
  }
  
}

@media (max-width: 542px){
  .homd ul li {
      margin-left: 30px;
  }

  .homd {
      margin-left: 5px;
  }
}

@media (min-width: 1300px){
  .conts {
  padding-bottom: 10px;
}
}

/*@media (max-width: 1440px) and (max-height: 900){
  .homd ul{
      margin-left: 0em!important;
  }
}*/

@media (min-width: 351px) and (max-width: 425){
  .conts {
      padding-bottom: 200px;
  }

}

/* @media (min-width: 544px) {
  .conts {
  padding-bottom: 300px;
}
} */
@media (min-width: 768px) and (max-width: 970px) {
  .homd ul, .lst {
  list-style: none;
  color: white;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 5px;
}


.homd .homdbtn {
  background: #4DFFD4; 
  padding: 4px 15px; 
  font-weight: bold;
  margin-top: 1.1em;
  font-size: 12px;
}

.homd .dembtn {
  background: none;
  color: white;
  font-weight: normal;
  margin-top: 1.8em;
  margin-left: 10px;
  font-size:12px;
}

.conts {
  padding-bottom: 300px;
}
}

@media (min-width: 542px) and (max-width: 768px) {
.homd {
height: 200px;
position: absolute;
left: 29%;
top: 50%;
transform: translate(-50%, -50%);

}


.homd ul, .lst {
  list-style: none;
  color: white;
  font-size: 18px;
  line-height: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 5px;
}

.homd .homdbtn {
  background: #4DFFD4; 
  padding: 3px 12px; 
  font-weight: bold;
  margin-top: 1.1em;
  font-size: 10px;
}

.homd .dembtn {
  background: none;
  color: white;
  font-weight: normal;
  margin-top: 1.8em;
  margin-left: 10px;
  font-size:10px;
}

.conts {
  padding-bottom: 300px;
}
}


@media screen and (max-width: 541px) {
  body {
  min-height: 100vh;
  min-width: 100vw;
  overflow:scroll;
}
.homd {
/* position: fixed; */
top: 50%;

}

.homd ul, .lst {
  list-style: none;
  color: white;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 5px;
}

.footw {
  padding: 10px;
  font-size: 12px;
  position: relative;
}

.homd ul li::before {
content: "\2022";
color:#4DFFD4;
font-weight: bolder;
display: inline-block; 
width: 0.7em;
font-size: 50px;
margin-left: -1em;

}

.col01 {
  margin-left: 1em;
}


.homd .lst {
  line-height: 10px;
}

.homd .homdbtn {
  background: #4DFFD4; 
  padding: 4px 20px; 
  font-weight: bold;
  margin-top: 1.1em;
  font-size: 15px;
}

.homd .dembtn {
  background: none;
  color: white;
  font-weight: normal;
  margin-top: 1.8em;
  margin-left: 10px;
  font-size:15px;
}
.imgse {
  display: none;
}

.imgsg {
  display: block;
}

.homd ul{
  margin-left: -2.7em!important;
  line-height: 20px;
}

.homd ul li i {
  font-size: 10px!important;
}

.homd .lst {
  font-size: 20px;
}

}

@media screen and (max-width: 350px) {
  .footw {
  font-size: 9px;

  }

  .conts {
  padding-bottom: 300px;
  }

  .homd {
      margin-top: 20px;
  }


}
